:root {
  --navColor: #212529;
  --mainBackgroundColor: black;
  --leftSidebarColor: gray;
  --rightSidebarColor: white;
  --correctColor: #538d4e;
  --halfCorrectColor: #b59f3b;
  --noExistColor: #3a3a3c;
  --boxBorderColor: #3a3a3c;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

.fs1 {
  font-size: 40px;
}

.fs2 {
  font-size: 28px;
}

.fs3 {
  font-size: 24px;
}

.fs4 {
  font-size: 18px;
}

.fs5 {
  font-size: 16px;
}

.myGrayBackground {
  background-color: var(--noExistColor);
}

.myYellowBackground {
  background-color: var(--halfCorrectColor);
}

.myGreenBackground {
  background-color: var(--correctColor);
}

.blackImportant {
  color: black !important;
}
