:root {
  --navColor: #212529;
  --mainBackgroundColor: black;
  --leftSidebarColor: #2e2e2e;
  --rightSidebarColor: #2e2e2e;
  --correctColor: #538d4e;
  --halfCorrectColor: #b59f3b;
  --noExistColor: #5f5f5f;
  --boxBorderColor: #5f5f5f;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

.fs1 {
  font-size: 40px;
}

.fs2 {
  font-size: 28px;
}

.fs3 {
  font-size: 24px;
}

.fs4 {
  font-size: 18px;
}

.fs5 {
  font-size: 16px;
}

.background {
  background-color: var(--mainBackgroundColor);
}

.myGrayBackground {
  background-color: var(--noExistColor);
  border: 4px var(--noExistColor) solid;
  animation: toNoExist 2.5s 1 forwards;
  -webkit-animation: toNoExist 2.5s 1 forwards;
}

.myYellowBackground {
  background-color: var(--halfCorrectColor);
  border: 4px var(--halfCorrectColor) solid;
  animation: toHalf 2.5s 1 forwards;
  -webkit-animation: toHalf 2.5s 1 forwards;
}

.myGreenBackground {
  background-color: var(--correctColor);
  border-color: var(--CorrectColor);
  animation: toCorrect 2.5s 1 forwards;
  -webkit-animation: toCorrect 2.5s 1 forwards;
}

@keyframes toNoExist {
  from {
    border: 4px var(--boxBorderColor) solid;
    background-color: var(--mainBackgroundColor);
  }
  to {
    border: 4px var(--noExistColor) solid;
    background-color: var(--noExistColor);
  }
}

@keyframes toHalf {
  from {
    border: 4px var(--boxBorderColor) solid;
    background-color: var(--mainBackgroundColor);
  }
  to {
    border: 4px var(--halfCorrectColor) solid;
    background-color: var(--halfCorrectColor);
  }
}

@keyframes toCorrect {
  from {
    border: 4px var(--boxBorderColor) solid;
    background-color: var(--mainBackgroundColor);
  }
  to {
    border: 4px var(--correctColor) solid;
    background-color: var(--correctColor);
  }
}

.blackImportant {
  color: black !important;
}
