.leftSidebar {
    width: 0px;
    height: 100%;
    position: fixed;
    background-color: var(--leftSidebarColor);
    z-index: 100;
    transition: 0.8s;
    overflow-x: hidden;
    white-space: nowrap;
}

.leftHintBox{
    width: 60px;
    height: 60px;
    background-color: var(--halfCorrectColor);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
