.rightSidebar {
  position: fixed;
  top: 68px;
  width: 0px;
  height: 100%;
  right: 0px;
  background-color: white;
  z-index: 100;
  transition: 0.5s;
  overflow-x: hidden;
  white-space: nowrap;
}
